<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body class="bg-light">
<div th:replace="fragments :: main-nav"></div>
    <div class="container">
        <div class="py-5 text-center">
            <h2>음식점 등록</h2>
        </div>
        <div class="row justify-content-center">
            <form class="needs-validation col-sm-10" th:action="@{'/restaurant/update/' + ${restaurant.id}}" th:object="${restaurantForm}" method="post" novalidate>
                <div class="form-group">
                    <select class="form-select" th:field="*{foodType}" aria-label="Default select example">
                        <option value="KOREAN">한식</option>
                        <option value="CHINESE">중식</option>
                        <option value="WESTERN">양식</option>
                        <option value="JAPANESE">일식</option>
                        <option value="SOMETHING">기타</option>
                        <option value="DELIVERY">배달</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="name">음식점 이름</label>
                    <input id="name" type="text" th:field="*{name}" class="form-control"
                           placeholder="이름" aria-describedby="nameHelp" required max="200">
                    <small id="nameHelp" class="form-text text-muted">
                        200자 이내로 입력하세요.
                    </small>
                    <small class="invalid-feedback">이름을 입력하세요.</small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name Error</small>
                </div>

                <div class="form-group">
                    <label for="description">description</label>
                    <input id="description" type="text" th:field="*{description}" class="form-control"
                           placeholder="맛있어" aria-describedby="descriptionHelp">
                    <small class="invalid-feedback">description을 입력하세요.</small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">description Error</small>
                </div>

                <div class="form-group">
                    <label for="url">url</label>
                    <input id="url" type="text" th:field="*{url}" class="form-control"
                           placeholder="url" aria-describedby="urlHelp">
                    <small class="invalid-feedback">url을 입력하세요.</small>
                    <small class="form-text text-danger" th:if="${#fields.hasErrors('url')}" th:errors="*{url}">url Error</small>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit"
                            aria-describedby="submitHelp">수정완료</button>
                </div>
            </form>
        </div>
    </div>
<div th:replace="fragments :: footer"></div>
</body>
</html>